body {
    background-color: rgb(212, 209, 209);
}

.navbar-brand { 
    background-color: rgba(15, 142, 146, 0.548); 
   
}
#color_me {
    color : whitesmoke;
}

.container h1 {
    padding-top: 5%;
    padding-bottom: 3%;
    color: rgba(15, 142, 146, 0.548);
}

.container h2 {
    padding-top: 5%;
    padding-bottom: 3%;
    color: rgba(15, 142, 146, 0.548);
}

.container h4 { 
    color: rgba(15, 142, 146, 0.548);
    text-align: center;    
}


.col-md-7 img {
    margin-right: 10px;
    margin-bottom: 5px;
}

.col-md-7 {
    background-color:  white;
}
.col-md-6 {
    background-color: white; 
}

.col-md-12 {
    background-color:  white; 
}
.col-md-4 {
    background-color:  white;
}
hr { 
    display: block; 
    margin-before: 0.5em; 
    margin-after: 0.5em; 
    margin-start: auto; 
    margin-end: auto; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
}



